.contenedor{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    /* grid-template-columns: 100px 200px 300px; */
    /* grid-template-rows: 150px 250px; */
    grid-template-rows: 100px 200px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;

    /* tamaño del espacio entre filas*/
    /* row-gap: 15px; */
    /* tamaño del espacio entre columnas*/
    /* column-gap: 30px; */

    /* el espaciadoa para filas y columnas */
    gap: 40px;
}

.item{
    border: 5px solid #00bcd4;
    font-size: 4rem;
}